
body {
background-color: #0d0d0d;
color: #e3e3e3;
font-family: "Courier New", monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}


.container {
width: 80%;
max-width: 600px;
border: 1px solid #444;
padding: 20px;
border-radius: 5px;
background-color: #111;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}


input {
width: 100%;
padding: 10px;
margin-top: 10px;
background-color: #222;
border: 1px solid #555;
color: white;
}


button {
margin-top: 10px;
width: 100%;
padding: 10px;
background-color: #333;
border: 1px solid #666;
color: white;
cursor: pointer;
}


button:hover {
background-color: #444;
}


#message {
margin-top: 10px;
color: #ff4d4d;
}